<div class="searchbox">
    <label for="search-by"><i class="fas fa-search"></i></label>
    <input data-search-input id="search-by" type="search" placeholder="{{T "Search-placeholder"}}">
    <span data-search-clear=""><i class="fas fa-times"></i></span>
</div>
{{ partial "script.html" (dict "Site" .Site "path" "js/algoliasearch.min.js") }}
{{ partial "script.html" (dict "Site" .Site "path" "js/auto-complete.js") }}
<script type="text/javascript">
    {{ if .Site.IsMultiLingual }}
        var baseurl = "{{.Site.BaseURL}}{{.Site.LanguagePrefix}}";
    {{ else }}
        var baseurl = "{{.Site.BaseURL}}";
    {{ end }}
    var defined_algolia_appId = "{{ .Site.Params.algolia_appId | default "" }}";
    var defined_algolia_apiKey = "{{ .Site.Params.algolia_apiKey | default "" }}";
    var defined_algolia_indexName = "{{ .Site.Params.algolia_indexName | default "" }}";
</script>
{{ partial "script.html" (dict "Site" .Site "path" "js/search-utils.js") }}
{{ partial "script.html" (dict "Site" .Site "path" "js/search.js") }}
